<!--display all posts  -->
<div class="card">
    <div class="card-header">
        {{#if blogposts.length}}
        {{#each blogposts as |blogpost|}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <a href="/comment/{{blogpost.id}}">
        
            <p>{{blogpost.title}}</p></a>
            <p>{{blogpost.content}}</p>
            <footer class="blockquote-footer">Posted by: {{blogpost.user.username}}</footer>
        </blockquote>
        <div class="card">
            <div class="card-header">
            
                {{#each blogpost.comments as |comment|}}
            </div>
            <div class="card-body">
                <p>{{comment.comments}}</p>
            </div>
            {{/each}}
            {{/each}}
        </div>

    </div>

    {{else}}
    <p>no blogs found</p>
    {{/if}}


    <!-- when clicked on title of blog post it will direct them to -->
    <!-- Add comment with button to submit-->